body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Tabela{
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 100vh;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  background-color: #594b8f;
  height: 80vh;
}

.texto{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


.Resultados{
  display: flex;
  flex-direction: column;
  width: 100vh;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  background-color: black;
  height: 80vh;

}

.textoLista{
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}